body {
  
  font-family: sans-serif ;
  padding: 0;
  margin: 0;
  
  
}

p {
  
  margin: 0px;
  font-size: 30px;
  line-height: 50px;
  
}


section {
 
  padding: 100px 50px ;
  
}



div {
  
  margin: 30px 50px ;
  padding: 25px 0px ;
  
  
}

img {
  
  display: block;
  margin: 10px auto;
  border-radius: 800px;
  width: 250px;
  height: 250px;
  border: dotted 5px;
  padding: 15px 15px; 
  
  
}

img:hover{
  
  opacity: 0.5;
  
}

header{
  
  text-align: center;
  
}

h2{
  
  font-size: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4{
  
  font-size: 40px;
  margin-bottom: 10px;
}


#intro p {
    
  text-align: center;
  
}

.juanso-theme #jobs {
  
  background-color: #FF6600;
  color: white;
  
}

.juanso-theme #jobs h2{
    
  text-align: center;
  font-size: 85px;
  text-transform: uppercase;
  
}

.juanso-theme #jobs h4{
  
  font-size: 50px;
  margin-bottom: 25px;
   
}

.juanso-theme #jobs div {
  
  border: solid;
  border-right: none;
  border-left: none;
  border-top:none;
}

#jobs div:last-of-type {
  
  border-bottom: none;
  
  
  
}

#jobs div:nth-child(odd){
  
  text-align: right;
  
  
}

.juanso-theme #habilidades h4 {
  
  text-align: center;

}


#interes {
  
  text-align: right;
  margin-right: 50px;
  
  
}




/* .juanso-theme #pixel{
  
  text-align: left;
  margin-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
  
}

.juanso-theme #torre-tres {
  
  text-align: right;
  padding-right: 50px;
  padding-top: 0;
  padding-bottom: 0;
 
}


.juanso-theme #club-pacifico {
  
  text-align: left;
  padding-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
  
}

.juanso-theme #todo-tenis{
  
  text-align: right;
  padding-right: 50px;
  padding-top: 0;
  padding-bottom: 0;
  
  
  
} */

.text-grey{
  
  color: grey;
   
}

.juanso-theme #educacion {
  
  background-color: #054a91;
  color: white;
 
 
  
}

.juanso-theme #educacion h2{
  
  text-align : center;
  font-size 100px;
  text-transform: uppercase;
  
  
}
 
div p:nth-child(3) {
  
  color: grey;
  
}

.matrix-theme{
  background: url("https://media.giphy.com/media/rWY9ySfjytitq/giphy.gif") repeat left top;
  background-size: contain;
  background-color: black;
  color: lime;
  
}

.matrix-theme section {
  
  padding: 80px;
  background: black;
  opacity: 0.75;
  border: 5px solid;
  margin: 60px;
  
  
}

.matrix-theme div p:nth-child(3) {
  
  color: white;
  
}

.matrix-theme img {
  
  border-color: lime;
  opacity: 0.5;
  
}

.matrix-theme img:hover{
  
  opacity: 1;
}

.matrix-theme a {
  
  color: white;
}

.matrix-theme a:visited {
  
  color: red;
}


.juanso-theme #habilidades {
  
  background: #ff7f51;
  
 
}

.juanso-theme #habilidades h2{
  
  text-align: center;
  
}

.juanso-theme #idiomas {
  
  
  background-color: #f7df27;
}


#interes {
  
}


ol{
  
  
  font-size: 25px;
  
  
}

ol li {
  
  line-height: 40px;
}


/* naranja: FF6600

  azul: 054a91 


*/

